<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Neon Admin Panel">
    <meta name="author" content="">
    <title>岗位推荐</title>
    <link rel="stylesheet" href="/static/css/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="/static/css/entypo.css">
    <link rel="stylesheet" href="/static/css/css.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/neon-core.css">
    <link rel="stylesheet" href="/static/css/neon-theme.css">
    <link rel="stylesheet" href="/static/css/neon-forms.css">
    <link rel="stylesheet" href="/static/css/custom.css">
    <script src="/static/js/jquery-1.11.0.min.js"></script>
</head>
<body class="page-body  page-left-in" data-url="http://neon.dev">
<div class="page-container">
    <!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->
    <div class="sidebar-menu">
        <header class="logo-env">
            <div class="logo">
                <a href="/myApp/home">
                    <h3 style="color: #fff;font-width: bold;display: flex">招聘信息可视化</h3>
                </a>
            </div>
        </header>
        <div class="sidebar-user-info">
            <div class="sui-normal">
                <a href="#" class="user-link">
                    <img style="width: 200px; height: 200px;border-radius: 50%;object-fit: cover;"
                         src="/media/{{ userInfo.avatar }}" alt="">
                    <span style="text-align: center;padding-top: 209px">welcome，</span>
                    <strong style="text-align: center;margin-top: 5px">{{ userInfo.username }}</strong>
                </a>
            </div>
        </div>

        <ul id="main-menu" class="">
            <li>
                <a href="/myApp/tableData/">
                    <i class="entypo-monitor"></i>
                    <span>岗位推荐</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="entypo-user"></i>
                    <span>个人中心</span>
                </a>
                <ul>
                    <li>
                        <a href="/myApp/selfInfo">
                            <span>个人中心</span>
                        </a>
                    </li>
                    <li>
                        <a href="/myApp/changePassword">
                            <span>修改密码</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="entypo-chart-bar"></i>
                    <span>可视化图表</span>
                </a>
                <ul>
                    <li>
                        <a href="/myApp/salary/">
                            <i class="entypo-credit-card"></i>
                            <span>薪资情况</span>
                        </a>
                    </li>
                    <li>
                        <a href="/myApp/company/">
                            <i class="entypo-briefcase"></i>
                            <span>企业情况</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="main-content">
        <div class="row" style="display:flex;">
            <div class="col-md-6 col-sm-4 clearfix hidden-xs" style="margin-left: auto;">
                <ul class="list-inline links-list pull-right">
                    <li class="sep"></li>
                    <li>
                        <a href="/myApp/logout/">
                            退出登陆<i class="entypo-logout right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <ol class="breadcrumb bc-3">
            <li>
                <a href="#">
                    <i class="entypo-folder"></i>
                    岗位推荐
                </a>
            </li>
        </ol>
        <h2>岗位推荐(可在个人信息中添加简历，以便更好地向您推荐岗位)</h2>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default" data-collapsed="0">
                    <div class="panel-heading">
                        <div class="panel-title">查询条件</div>
                        <div class="panel-options">
                            <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                            <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form action="/myApp/tableData/" method="POST">
                            <div class="row">
                                <div class="form-group" style="display: flex; align-items: center; margin-right: 30px;">
                                    <label class="control-label"
                                           style="margin-left: 20px; margin-top:5px">意向岗位</label>
                                    <div class="col-sm-2">
                                        <input type="text" name="work" class="form-control"
                                               value="{{ pageData.defaultWork }}" placeholder="请输入意向岗位名称">
                                    </div>
                                    <label class="control-label"
                                           style="margin-left: 20px; margin-top:5px">意向城市</label>
                                    <div class="col-sm-2">
                                        <input type="text" name="city" class="form-control"
                                               value="{{ pageData.defaultCity }}" placeholder="请输入意向城市">
                                    </div>
                                    <label class="control-label"
                                           style="margin-left: 20px; margin-top:5px">最低薪资下限(单位:k)</label>
                                    <div class="col-sm-2">
                                        <input type="number" name="salary" class="form-control"
                                               value="{{ pageData.defaultSalary }}" placeholder="请输入最低薪资下限"
                                               min="0">
                                    </div>
                                </div>
                                <div class="form-group" style="display: flex; align-items: center; margin-right: 30px;">
                                    <label class="control-label" style="margin-left: 20px; margin-top:5px">学历</label>
                                    <div class="col-sm-2">
                                        <select name="education" class="form-control">
                                            {% for item in pageData.educations %}
                                                {% if item == pageData.defaultEdu %}
                                                    <option value="{{ item }}" selected>{{ item }}</option>
                                                {% else %}
                                                    <option value="{{ item }}">{{ item }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <label class="control-label"
                                           style="margin-left: 20px; margin-top:5px">工作经验</label>
                                    <div class="col-sm-2">
                                        <select name="experience" class="form-control">
                                            {% for item in pageData.workEx %}
                                                {% if item == pageData.defaultExp %}
                                                    <option value="{{ item }}" selected>{{ item }}</option>
                                                {% else %}
                                                    <option value="{{ item }}">{{ item }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary" style="margin-left: auto;">查询
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% for item in c_page %}
                    <div class="member-entry">
                        <div class="member-details">
                            <h4>
                                <a class="col-sm-8">{{ item.title }}</a>
                                <a style="color: blue;">{{ item.salary }}</a>
                            </h4>
                            <div class="row info-list">
                                <div class="col-sm-4">
                                    <i class="entypo-location"></i>
                                    <a>{{ item.location }} {{ item.exp }} {{ item.edu }}</a>
                                </div>
                                <div class="col-sm-8">
                                    <a>{{ item.keyList }}</a>
                                </div>
                                <div class="clear"></div>
                                <div class="col-sm-4">
                                    <i class="entypo-briefcase"></i>
                                    <a>{{ item.company }}</a>
                                </div>
                                <div class="col-sm-6">
                                    <span class="badge bg-light text-dark border rounded-pill px-3 py-2 m-1">{{ item.comSize }}</span>
                                    {% if item.comTag %}
                                        {% for tag in item.comTag %}
                                            <span class="badge bg-light text-dark border rounded-pill px-3 py-2 m-1">{{ tag|striptags }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                <div class="col-sm-2" style="display: flex; justify-content: flex-end;">
                                    <a href="{{ item.href }}" type="button" class="btn btn-blue">查看详情</a>
                                </div>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
            <div class="col-md-12" style="display: flex; justify-content: center;">
                <ul class="pagination">
                    {% with work=pageData.defaultWork city=pageData.defaultCity education=pageData.defaultEdu experience=pageData.defaultExp salary=pageData.defaultSalary %}
                        {% if c_page.has_previous %}
                            <li>
                                <a href="/myApp/tableData?page={{ c_page.previous_page_number }}&work={{ work|default:'' }}&city={{ city|default:'' }}&education={{ education|default:'' }}&experience={{ experience|default:'' }}&salary={{ salary|default:'' }}">
                                    <i class="entypo-left-open-mini"></i></a></li>
                        {% endif %}
                        {% for i in page_range %}
                            {% if i == c_page.number %}
                                <li class="active">
                                    <a href="/myApp/tableData?page={{ i }}&work={{ work|default:'' }}&city={{ city|default:'' }}&education={{ education|default:'' }}&experience={{ experience|default:'' }}&salary={{ salary|default:'' }}">
                                        {{ i }}
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="/myApp/tableData?page={{ i }}&work={{ work|default:'' }}&city={{ city|default:'' }}&education={{ education|default:'' }}&experience={{ experience|default:'' }}&salary={{ salary|default:'' }}">
                                        {{ i }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if c_page.has_next %}
                            <li>
                                <a href="/myApp/tableData?page={{ c_page.next_page_number }}&work={{ work|default:'' }}&city={{ city|default:'' }}&education={{ education|default:'' }}&experience={{ experience|default:'' }}&salary={{ salary|default:'' }}">
                                    <i class="entypo-right-open-mini"></i></a></li>
                        {% endif %}
                    {% endwith %}
                </ul>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" href="/static/css/jquery-jvectormap-1.2.2.css">
<link rel="stylesheet" href="/static/css/rickshaw.min.css">
<!-- Bottom Scripts -->
<script src="/static/js/main-gsap.js"></script>
<script src="/static/js/jquery-ui-1.10.3.minimal.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/joinable.js"></script>
<script src="/static/js/resizeable.js"></script>
<script src="/static/js/neon-api.js"></script>
<script src="/static/js/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/static/js/jquery-jvectormap-europe-merc-en.js"></script>
<script src="/static/js/jquery-jvectormap-world-mill-en.js"></script>
<script src="/static/js/jquery.sparkline.min.js"></script>
<script src="/static/js/d3.v3.js"></script>
<script src="/static/js/rickshaw.min.js"></script>
<script src="/static/js/neon-chat.js"></script>
<script src="/static/js/neon-custom.js"></script>
<script src="/static/js/neon-demo.js"></script>
<script src="/static/js/fileinput.js"></script>
</body>
</html>